{% extends 'designer_base.html' %}


{% block title %}

Design Show

{% endblock title %}


{%block navbar%}

    {% if user.is_authenticated %}
        <li>Welcome {{ user.username }} !!!</li>  
        <li><a href="/logout_view">Logout</a></li> 

    {% else %} 

      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>

    {% endif %}

   


{% endblock navbar%}

   


{%block sidenav%}

{% if user.is_authenticated %}
        <li>Welcome {{ user.username }} !!!</li>  
        <li><a href="/logout_view">Logout</a></li> 

    {% else %} 

      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>

    {% endif %}


{% endblock sidenav%}


{% block content %}

	<div class="container">

	    <div class="row center col s12" style="background-color: #ffffff">

			<h5 class="header light" >Upload an SVG of the venue</h5>

			<input type="file" onchange="previewFile()"><br><br>
			<img src="" height="400" alt="Image preview...">

			<script>
			function previewFile(){
			   var preview = document.querySelector('img'); //selects the query named img
			   var file    = document.querySelector('input[type=file]').files[0]; //sames as here
			   var reader  = new FileReader();

			   reader.onloadend = function () {
			       preview.src = reader.result;
			   }

			   if (file) {
			       reader.readAsDataURL(file); //reads the data as a URL
			   } else {
			       preview.src = "";
			   }
			}

			//previewFile();  //calls the function named previewFile()
			</script>

			<!-- <img src="http://www.sportsauthorityfieldatmilehigh.com/docs/default-source/dnc-front-pages/june-16-base-seating.gif?sfvrsn=6a7b4869_0"> -->

			<br>
			<br><br><br><br>

			<a href="#" class="btn">Continue</a>

				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

			<button onclick="raphTest()">Click here for magic</button>
			
			<script>
			function raphTest(){
				var paper = Raphael(10, 50, 200, 75);
				var rect = paper.rect(10, 10, 50, 50);
				var circle = paper.circle(110, 35, 25);

				rect.attr({fill: "green"});
				circle.attr({fill: "blue"});	
			}

			// raphTest(); //if uncommented, this will call the function when the page loads
							
			</script>
			
	    </div>

	</div>	
	 
{% endblock content %}