{% extends 'designer_base.html' %}


{% block title %}

Design Show

{% endblock title %}


{%block navbar%}

    {% if user.is_authenticated %}
        <li>Welcome {{ user.username }} !!!</li>  
        <li><a href="/logout_view">Logout</a></li> 

    {% else %} 

      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>

    {% endif %}

   


{% endblock navbar%}

   


{%block sidenav%}

{% if user.is_authenticated %}
        <li>Welcome {{ user.username }} !!!</li>  
        <li><a href="/logout_view">Logout</a></li> 

    {% else %} 

      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>

    {% endif %}


{% endblock sidenav%}


{% block content %}

	<div class="container">

				
		<button class="btn" onclick="path_extracter()">pathExtracter</button>
				
		<script src="/static/js/pathparser.py"></script>


	    <div class="row center col s12" style="background-color: #ffffff">

			<h5 class="header light" >Upload an SVG of the venue</h5>

			<input type="file" onchange="previewFile()"><br><br>
			<img src="" height="400" alt="Image preview...">

			<script>
			function previewFile(){
			   var preview = document.querySelector('img'); //selects the query named img
			   var file    = document.querySelector('input[type=file]').files[0]; //sames as here
			   var reader  = new FileReader();

			   reader.onloadend = function () {
			       preview.src = reader.result;
			   }

			   if (file) {
			       reader.readAsDataURL(file); //reads the data as a URL
			   } else {
			       preview.src = "";
			   }
			}

			//previewFile();  //calls the function named previewFile()
			</script>


			

			<br>
			<br><br><br><br>

			<a href="#" class="btn">Continue</a>

				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

			<button class="btn" onclick="raphTest()">Click here for magic</button>
			
			<script>
			function raphTest(){
				var paper = Raphael(10, 50, 200, 75);
				var rect = paper.rect(10, 10, 50, 50);
				var circle = paper.circle(110, 35, 25);

				rect.attr({fill: "green"});
				circle.attr({fill: "blue"});	

				var 


			}

			// raphTest(); //if uncommented, this will call the function when the page loads
							
			</script>

			<button onclick="tryThis()" class="btn">Crazy cool gif</button>

			<script>
				
				function tryThis() {
					var pa = Raphael(300, 50, 2000, 500);
					pa.rect(20,20,320, 200, 20); 
					var img1 = pa.image("/static/images/aminGif1.gif", 50,50, 200, 100);
				}

			</script>
			
	    </div>

	    <div id="grid" >
			<script src="/static/js/grid.js"></script>
		<!-- Raphaël JS Map Here -->
		</div>

		<div id="map">
			<script type="text/javascript" src="/static/js/map.js"></script>

		

		</div>

	</div>	





	 
{% endblock content %}