{% extends 'base.html' %}


{% block title %}

Home

{% endblock title %}


{% block content %}

		
	  <h1 class="center">hype it</h1>

	  <p>Just some fun index page stuff</p>

	  <h4>sometimes i wonder how i can make the ultimate flashlight app</h4>

	  <p>someday i will sneak another flashlight app into the app store</p>


	  <h1 class="center">hype it</h1>

	  <p>Just some fun index page stuff</p>

	  <h4>sometimes i wonder how i can make the ultimate flashlight app</h4>

	  <p>someday i will sneak another flashlight app into the app store</p>


{% endblock content %}

{% block content1 %}

		
   <h4>One time I was sitting in field watching the sun go down, and I started to contemplate, where does the sun go when it sets? I sat in the field for hours, and then it dawned on me...</h4>	  


{% endblock content1 %}


{% block content2 %}

		
   <h4>I was boiling water the other day for dinner, and started to get emotional, i stared intently into the bubbling water and silently voiced, you will be mist</h4>	  


{% endblock content2 %}

{% block content3 %}

		
   <h1>This is a cool cheetah picture</h1>	  

   <h2>with it, i will place a flashlight app in the app store</h2>

	<h3>my flashlight app will cost 54 dollars</h3>
{% endblock content3 %}